body{
          background-color: rgb(84, 125, 166);
          justify-content: center;
          align-items: center;
          display: flex;
          height: 100vh;
}
.button-back{
          cursor: pointer;
          border: solid 2px red;
          height: 50px;
          width: 100px;
          color: red;
          background-color: white;
          font-weight: bolder;
}
.button-back:hover{
          border: solid 1px red;
          box-shadow: 5px 5px;
          transition: all 0.4s;
}
.button-back:active{
          color: white;
          background-color: red;
}
.button-next{
          cursor: pointer;
          border: solid 2px blue;
          height: 50px;
          width: 100px;
          color: blue;
          background-color: white;
          font-weight: bolder;
}
.button-next:hover{
          border: solid 1px blue;
          box-shadow: 5px 5px;
          transition: all 0.4s;
}
.button-next:active{
          color: white;
          background-color: blue;
}
a{
          margin: 0px 20px;
          color: black;
          font-size: 20px;
          transition: all 0.4s;
}
a:hover{
          color: gold;
          font-weight: bolder;
          transition: all 0.4s;
}
